@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,regular,500,600,700,800,900);
.AboutContainer {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  background-color: #03060f;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.AboutTitleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 77%;
  height: 10%;
  color: #fff;
}
.About {
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
  font-size: 40px;
}

.tracado {
  background-color: #555f65;
  width: 30%;
  height: 5%;
}
.ImageAndInformationContainer {
  display: flex;
  height: 60%;
  width: 77%;
}
.ImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
}
.informationContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 5%;
  padding-left: 5%;
  flex-direction: column;

  width: 70%;
  height: 100%;
  color: #555f65;
}
.My-img {
  border-radius: 10px;
  position: absolute;
  right: -20px;
  top: 5%;
  height: 100%;
  width: 100%;
}
.imgTracado {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  height: 100%;
  width: 65%;
  border: 3px solid#ff0642;
  position: relative;
  border-radius: 10px;
}
@media screen and (max-width: 1440px) {
  /* .AboutContainer {
    height: 900px;
    width: 1440px;
  } */
  .imgTracado {
    height: 100%;
    width: 65%;
  }
  .ImageContainer {
    width: 40%;
  }
}
@media screen and (max-width: 1380px) {
  .My-img {
    height: 100%;
    width: 100%;
  }
}
@media screen and (max-width: 1000px) {
  /* .AboutContainer {
    height: 1024px;
    width: 768px;
  } */
  .ImageContainer {
    height: 70%;
    width: 43%;
  }
  .informationContainer {
    height: 30%;
    width: 90%;
    gap: 0;
    padding: 0;
  }
  .ImageAndInformationContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .My-img {
    height: 100%;
    width: 100%;
  }
  .imgTracado {
    height: 100%;
    width: 70%;
  }
  .h3Information {
    font-size: 100%;
  }
}
@media (max-width: 431px) {
  .AboutContainer {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .ImageAndInformationContainer {
    width: 80%;
    height: 70%;
    display: flex;
    align-items: center;
  }
  .About {
    font-size: 35px;
  }
  .ImageContainer {
    width: 90%;
    height: 80%;
  }
  .imgTracado {
    height: 100%;
    width: 60%;
  }
  .informationContainer {
    height: 60%;
  }
  .h3Information {
    font-size: 100%;
  }
}
