@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,regular,500,600,700,800,900);
.containerAllWorks {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background-color: #03060f;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ContainerTracado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 10%;
}
.TracadoWorks {
  background-color: #555f65;
  width: 30%;
  height: 5%;
}
.h1Myworks {
  color: #fff;
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
  font-size: 40px;
  text-wrap: nowrap;
  margin: 0px 15px;
}
.MyWorksDisplay {
  width: 80%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: auto;
}

@media (max-width: 431px) {
  .containerAllWorks {
    justify-content: center;
    display: flex;
    align-items: center;
  }
  .TracadoWorks {
    display: none;
  }
  .ContainerTracado {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .MyWorksDisplay {
    width: 90%;
    height: 75vh;
    overflow: auto;
  }
  .h1Myworks {
    font-size: 35px;
  }
}
