@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
.HomeContainer {
  height: 100vh;
  width: 100vw;
  background-color: #03060f;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.containerInformation {
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}
.textInf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  height: 70%;
  width: 46%;
}
.phraseHello {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 5%;
  width: 100%;
  color: #ff0642;
}
.containerNameHome {
  display: flex;
  align-items: center;
  justify-content: baseline;
  height: 10%;
  width: 100%;
  font-size: 150%;

  color: #fff;
}
.containerStack {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: baseline;
  color: #555f65;
}
.containerInformationText {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: baseline;
  color: #555f65;
}
.containerButton {
  display: flex;
  align-items: center;
  justify-content: baseline;
  height: 20%;
  width: 100%;
}
.meetButton {
  background-color: #03060f;
  border: 2px solid #ff0642;
  border-radius: 10px;
  height: 40%;
  width: 25%;
  font-size: 200%;
  font-family: 'Roboto';
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: none;
}
.meetButton:hover {
  background-color: #ff0642;
}
.image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 30%;
}
.myimage {
  border-radius: 10px;
  height: 99%;
  width: 98%;
}
.boxShadow {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  border-radius: 10px;
  height: 80%;
  width: 46%;
  -webkit-box-shadow: -5px -5px 20px -6px rgba(255, 255, 255, 1);
  -moz-box-shadow: -5px -5px 20px -6px rgba(255, 255, 255, 1);
  box-shadow: -5px -5px 20px -6px rgba(255, 255, 255, 1);
}
@media screen and (max-width: 1440px) {
  /* .HomeContainer {
    height: 900px;
    width: 1440px;
  } */
  .myimage {
    height: 99%;
    width: 99%;
  }
  .meetButton {
    width: 25%;
  }
  .boxShadow {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    border-radius: 10px;
    height: 70%;
    width: 55%;
    -webkit-box-shadow: -5px -5px 20px -6px rgba(255, 255, 255, 1);
    -moz-box-shadow: -5px -5px 20px -6px rgba(255, 255, 255, 1);
    box-shadow: -5px -5px 20px -6px rgba(255, 255, 255, 1);
  }
  .meetButton {
    width: 30%;
  }
}
@media screen and (max-width: 1425px) {
  .myimage {
    height: 99%;
    width: 99%;
  }
}
@media screen and (max-width: 1000px) {
  /* .HomeContainer {
    height: 1024px;
    width: 768px;
  } */
  .boxShadow {
    width: 80%;
    height: 40%;
  }
  .image {
    width: 40%;
    height: 70%;
  }
  .myimage {
    height: 99%;
    width: 99%;
  }
  .boxShadow {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    border-radius: 10px;
    height: 70%;
    width: 55%;
    -webkit-box-shadow: -5px -5px 20px -6px rgba(255, 255, 255, 1);
    -moz-box-shadow: -5px -5px 20px -6px rgba(255, 255, 255, 1);
    box-shadow: -5px -5px 20px -6px rgba(255, 255, 255, 1);
  }
  .textInf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    height: 90%;
    width: 46%;
  }
  .meetButton {
    width: 60%;
    border-radius: 10px;
  }
  .containerStack {
    height: 5%;
  }
  .containerInformationText {
    height: 30%;
  }
  .h3AboutInformation {
    font-size: 100%;
  }
}

@media (max-width: 430px) {
  /* .HomeContainer {
    width: 430px;
    height: 919px;
    display: flex;
  } */
  .containerInformation {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 30px 0px;
  }
  .textInf {
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .NameH1 {
    font-size: 150%;
  }
  .phraseHello {
    height: 10%;
    width: 100%;
  }
  .containerNameHome {
    height: 10%;
  }
  .containerStack {
    height: 10%;
  }
  .containerInformationText {
    height: 30%;
  }
  .h3AboutInformation {
    font-size: 100%;
  }
  .image {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .boxShadow {
    height: 85%;
  }
  .containerButton {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .meetButton {
    height: 60%;
  }
  .boxShadow {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    border-radius: 10px;
    height: 80%;
    width: 40%;
    -webkit-box-shadow: -5px -5px 10px -6px rgba(255, 255, 255, 1);
    -moz-box-shadow: -5px -5px 20px -6px rgba(255, 255, 255, 1);
    box-shadow: -1px -5px 20px -5px rgba(255, 255, 255, 1);
  }
  .myimage {
    height: 99%;
    width: 99%;
  }
}
