@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,regular,500,600,700,800,900);

.containerAllSkills {
  height: 100vh;
  width: 100vw;
  background-color: #03060f;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2%;
  justify-content: center;
  align-items: center;
}
.Tracado {
  background-color: #555f65;
  width: 30%;
  height: 5%;
}
.mySkillsTitleContainer {
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: space-around;
  height: 10%;
}
.MySkillsH1 {
  color: #fff;
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
  font-size: 40px;
}
.mySkills {
  height: 60%;
  width: 70%;
  background-color: #555f65;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: auto;
}
.imgIc {
  height: 120px;
  width: 120px;
  margin: 2%;
}
@media screen and (max-width: 1440px) {
  /* .containerAllSkills {
    width: 1440px;
    height: 900px;
  } */
  .MySkillsH1 {
    font-size: 30px;
  }
}
@media screen and (max-width: 768px) {
  /* .containerAllSkills {
    height: 1024px;
    width: 768px;
  } */
  .mySkills {
    overflow-y: auto;
  }

  .imgIc {
    height: 100px;
    width: 100px;
    margin: 2%;
  }
  .MySkillsH1 {
    font-size: 28px;
  }
}
@media (max-width: 431px) {
  .containerAllSkills {
    justify-content: center;
    align-items: center;
    align-items: center;
    height: 100vh;
    display: flex;
    ::-webkit-scrollbar {
      width: 0.5px;
    }
  }
  .mySkills {
    display: flex;
    gap: 30px;
    height: 75vh;
  }
}
