.headerContainer {
  display: flex;
  width: 100%;
  height: 6rem;
  background-color: #03060f;
  border-bottom: 1px solid black;
}
.text {
  color: #fff;
  font-size: 170%;
  margin-left: 50px;
  cursor: pointer;
}
.containerName {
  background-color: #03060f;
  height: 100%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.letterRContainer {
  border: 0.5px solid #ff0642;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55%;
  width: 10%;
  cursor: pointer;
}
.letterR {
  color: #ff0642;
  font-size: 3rem;
}
.name {
  color: #fff;
}
.containerOptions {
  background-color: #03060f;
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
@media screen and (max-width: 1440px) and (max-height: 900px) {
  .letterRContainer {
    width: 13%;
  }
  .text {
    margin-left: 30px;
  }
}
@media screen and (max-width: 768px) and (max-height: 1024px) {
  .name {
    display: none;
  }
  .letterRContainer {
    width: 50%;
  }
  .containerOptions {
    gap: 1.5rem;
    width: 85%;
  }
  .text {
    margin-left: 5px;
  }
  .containerName {
    width: 15%;
  }
}
.bandeira-img {
  max-width: 20px;
  height: auto;
}
/*  */
.dropdown {
  position: relative;
}

.dropdown-btn {
  background-color: transparent;
  border: 2px solid #fd0642;
  color: #fff;
  width: 90px;
  height: 35px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  justify-content: center;

  align-items: center;
}

.dropdown-menu {
  list-style: none;
  background-color: #03060f;
  border: 2px solid #fd0642;
  border-radius: 5px;
  padding: 8px 0;
  margin: 0;
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  display: none;
  width: 90px;
}

.dropdown-menu li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 0px;
  cursor: pointer;
  width: 100%;
}

.dropdown-menu li:hover {
  background-color: #f8f9fa;
}

.dropdown .dropdown-menu {
  display: block;
}
.dropdown-btn {
  position: relative;
}

.dropdown-btn::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 8px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
  transform: translateY(-50%);
}
.texten-pt {
  font-size: 15px;
}
.span-pt-en {
  margin-left: 5px;
  margin-right: 8px;
}
